

*{
    color: white;
    font-size: medium;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to top right,
      black 0%,
      black 20%,
      rgb(22, 22, 22) 70%,
      rgb(59, 59, 59) 100%
    );
}

.left {
    position: fixed;
    height: 100%;

    float:left; 
    width:20%;
    margin-left: 10px;
    
}

.right {

    float:right;
    width:80%;
    height:100%;
    overflow:auto;
}

hr {
    margin-left: 1px;
    width: 150px;
    color: grey;
}

button {
    background-color: black;
    padding-top: 12cm;
}

.top {
    position: fixed;
}

table {
    border: 2cm;
    border-color: white;
}


td {
    font-size: x-large;

    padding-right: 1cm;
}

h6 {
    font-size: small;
    font-variant: small-caps;
    color: grey;

    text-align: right;
}

a {
    color: grey;
}

img {
    width: 178px;
    height: 177px";
}
