

*{
    color: white;
    font-size: medium;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    padding: 0;
}

body{
    overflow: hidden;

    width: 100%;
    height: 100vh;
    background: linear-gradient(
      to bottom,
      rgb(30, 215, 96) 0%,
      rgb(30, 215, 96) 30%,
      rgb(22, 22, 22) 30%,
      rgb(22, 22, 22) 100%
    );
}
/* 
.left {
    position: fixed;
    height: 100%;

    float:left; 
    width:20%;
    margin-left: 10px;
    
}

.right {

    float:right;
    width:80%;
    height:100%;
    overflow:auto;
}

hr {
    margin-left: 1px;
    width: 150px;
    color: grey;
}

button {
    background-color: black;
    padding-top: 12cm;
}

.top {
    position: fixed;
}

table {
    border: 2cm;
    border-color: white;
}


td {
    font-size: x-large;

    padding-right: 1cm;
}

h6 {
    font-size: small;
    font-variant: small-caps;
    color: grey;

    text-align: right;
}

a {
    color: grey;
}

img {
    width: 178px;
    height: 177px";
} */

input {
    color: black
}

img {
    display:block;
    margin: auto;
}

hr {
    border-color: rgb(30, 215, 96) ;
}


div {
    display:block;
    width: 200px;
    height: 100px;
    margin: auto;
}

.login {
    font-size: xx-large;

    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
    width: 200px;
    height: 100px;
    margin: auto;
  }

.link {
    position: fixed;
    bottom: 25.1%;
}

input[type="email"],input[type="password"] {    
    background-color: rgb(255, 255, 255) ;
    color: black;

    border-radius: 5px;
    border-color: rgb(30, 215, 96) ;
}

input[type="submit"] {    
    background-color: rgb(30, 215, 96) ;
    color: black;

    font-variant: small-caps;
    border-radius: 5px;
    border-color: rgb(30, 215, 96) ;
}


p {
    display: block;
    margin: auto;
    left: 50%;
}

label, input {
    display: inline-block;
  }

.my-box {
    position: absolute;
    top: 40%;
    left: 50%;
    width: fit-content;
    transform: translate(-50%, -50%);
    z-index: -1;

    font-size: xx-large;
}

.login-google {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border-radius: 5px;
    position: fixed;
    text-decoration: none;
    right: 50%;
    top: 80%;
  }

.login-fb {
    background-color:rgb(66, 103, 178);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    position: fixed;
    text-decoration: none;
    right: 49.6%;
    top: 85%;
}

.login-apple {
    background-color:rgb(66, 103, 178);
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    position: fixed;
    text-decoration: none;
    right: 49.6%;
    top: 85%;
}



